<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1"/>
<title>BlankOn: Warung Aplikasi</title>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" type="text/css" href="/media/css/style.css"/>
</head>
<body>

<div id="container">
	<div id="header">
		<div id="header_left"><h2><a href="/">Warung Aplikasi</h2><small>Repositori aplikasi BlankOn Linux</small></a></div>
		<div id="header_right">
			<input type="text" value="" />
		</div>
		<div class="clear">&nbsp;</div>
	</div>
	
	<div id="content">
	
		{% comment %}
		<div class="box_container">
			<div class="box box_medium top_app">
				<div class="box_header">
					<img src="/media/images/gambar_besar.png" />
					<h2>Audacity</h2>
				</div>
				<p>Audacity is free, open source software for recording and editing sounds. 
				It is available for Mac OS X, Microsoft Windows, GNU/Linux, and other operating systems</p>
				<p><a href="#" class="simple_button">Download <br /><small>100.000 downloads</small></a></p>
			</div>
			<div class="box box_medium top_app">
				<div class="box_header">
					<img src="/media/images/gambar_besar.png" />
					<h2>Audacity 2</h2>
				</div>
				<p>Audacity is free, open source software for recording and editing sounds. 
				It is available for Mac OS X, Microsoft Windows, GNU/Linux, and other operating systems</p>
				<p><a href="#" class="simple_button">Download <br /><small>100.000 downloads</small></a></p>
			</div>
			<div class="box box_medium top_app">
				<div class="box_header">
					<img src="/media/images/gambar_besar.png" />
					<h2>Audacity 3</h2>
				</div>
				<p>Audacity is free, open source software for recording and editing sounds. 
				It is available for Mac OS X, Microsoft Windows, GNU/Linux, and other operating systems</p>
				<p><a href="#" class="simple_button">Download <br /><small>100.000 downloads</small></a></p>		
			</div>	
			<div class="box box_medium top_app">
				<div class="box_header">
					<img src="/media/images/gambar_besar.png" />
					<h2>Audacity 4</h2>
				</div>
				<p>Audacity is free, open source software for recording and editing sounds. 
				It is available for Mac OS X, Microsoft Windows, GNU/Linux, and other operating systems</p>
				<p><a href="#" class="simple_button">Download <br /><small>100.000 downloads</small></a></p>				
			</div>										
		</div>
		{% endcomment %}
		
		<div class="clear">&nbsp;</div>
		
		<div id="navigation">
			<div id="navigation_left">
				<table width="100%">
				<tr><td><strong>System:</strong></td> <td align="right"><big><strong>BlankOn Linux</strong></big></td></tr>
				<tr><td><strong>Distribution:</strong></td> <td align="right"><big><strong>Pattimura</strong></big></td></tr>
				</table>
			</div>
			
			<div id="navigation_right">
				{% comment %}
				<div>
					<div id="sub_left">
						<div style="position: absolute; left: 0; bottom: 0; padding-bottom: 10px;">
						<a href="#" class="filter_button">Popular</a>
						<a href="#" class="filter_button active">New</a>
						</div>
					</div>
					
					<div id="sub_right">
						<div style="position: absolute; left: 0; bottom: 0; padding-bottom: 10px;">
						<a href="#" class="filter_button active">Grid</a>
						<a href="#" class="filter_button">List</a>
						</div>						
					</div>
					<div class="clear clear_small">&nbsp;</div>
				</div>
				{% endcomment %}
			</div>
			
			<div class="clear clear_small">&nbsp;</div>
		</div>
		
		<div id="app_list">
			<div id="category_list">
				<ul>
					{% if kategori_list %}
						{% for kategori in kategori_list %}
						<li><a href="/kategori/{{ kategori.id_kategori }}">{{ kategori.nama_kategori }}</a></li>	
						{% endfor %}
					{% endif %}				
				</ul>
			</div>
			
			{% block list_aplikasi %}{% endblock %}
			<div class="clear">&nbsp;</div>
		</div> <!-- End of app_list -->
		
	</div> <!-- End of content -->
	
	<div id="footer">BlankOn Linux</div>
</div>

</body>
</html>
